body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#api-version #stack-label {
  font-size: 14pt;
  color: #000000;
}

#api-version::before{
  content: 'API Version: ';
  color: #a02020;
}

#stack-label::before {
  content: "Branch: ";
  color: #20a020;
}